.project>img{
    width: 350px;
    height: 179px;
}
.project{
    margin: 15px;
    width: 350px;
    height: 179px;
    transition: transform 100ms ease-in;
}
.project:hover{
    color: white;
    background-color: #235790;
    transform: scale(1.05);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.project__content{
    padding: 10px;
}
.project__content>h4{
    padding-bottom: 5px;
}
.project__content>p{
    font-size: 15px;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: inherit;
    z-index: 10;
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #212122;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    min-height: 80vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-content>h2, .modal-content>p {
    margin-bottom: 15px;
}
.modal-content>p>a, .modal-content>p>h4>a{
    color: #235790;
    text-decoration: underline;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}