@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:ital,wght@0,300;1,500&display=swap');

.skillContainer__skillheader>h1{
    margin-top: 200px;
    display: block;
    color: white;
    text-align: center;
}
.slillContainer__body{
    display: flex;
    justify-content: space-between;
}
.skillContainer__text>h2{
    color: white;
    text-align: center;
}
.slider{
    margin-top: 30px;
    width: 100vh;
    height: 30vh;
    padding-top: 50px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}
.skillContainer__slider{
    margin-right: 50px;
}
.skillContainer__slider>h5{
    position: relative;
    top: 40px;
    left: 60px;
}
.skillContainer__slider{
    margin: auto 25px;
}

@media screen and (max-width:720px){
    .skillContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skillheader{
        display: block;
    }
    .skillContainer__image>img{
        display: none;
    }
   
    .skillContainer__text{
        margin-left: -90px;
    }
   .skillContainer__slider{
       width: 250px;
   } 
   
}