@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:ital,wght@0,300;1,500&display=swap');

.skillContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
}

.skillContainer__text {
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
}

.skillContainer__text>h1 {
    font-size: 30px;
}

.skillContainer__image {
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
}

.skillContainer__image>img {
    width: 600px;
    border-radius: 3px;
    object-fit: contain;
}

.skillContainer__skillSet>h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding-bottom: 30px;
    padding-top: 10px;
}

.skillContainer__slider>.MuiLinearProgress-colorPrimary {
    background-color: rgb(88, 88, 88);
}

.skillContainer__slider1>span>.MuiLinearProgress-barColorPrimary {
    background-color: rgb(186, 208, 45);
}

.skillContainer__slider2>span>.MuiLinearProgress-barColorPrimary {
    background-color: rgb(219, 122, 10);
}

.skillContainer__slider3>span>.MuiLinearProgress-barColorPrimary {
    background-color: rgb(143, 54, 211);
}

.skillContainer__slider4>span>.MuiLinearProgress-barColorPrimary {
    background-color: rgb(15, 161, 105);
}

.skills_logo {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

.movement {
    animation: move 2s ease-in-out infinite;
}

@keyframes move {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

@media screen and (max-width:1040px) {
    .skillContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills_logo {
        padding: 2rem;
        display: flex;
        gap: 2rem;
        width: 80%;
        margin: 0 auto;
    }
    .skillHeader{
        text-align: center;
    }
    .skillContainer__image {
        display: none;
    }

    .skillContainer__slider {
        width: 250px;
    }

}