.topContainer{
    background: url(../../Assets/pictures/profile.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}
.mask {
    background-color: black;
    opacity: 0.5;
}
@media screen and (max-width:640px){
    .topContainer{
        background: url(../../Assets/pictures/umesh.jpg);
        height: 80vh;
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
       
    
    }
}