@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8); 
    backdrop-filter: blur(10px); 
    z-index: 10;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); 
}

.navbarRight {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbarRight li {
    padding: 0 1rem;
    position: relative;
}

.navbarRight li a {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.navbarRight li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(121, 195, 3);
    bottom: -4px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.navbarRight li a:hover::before {
    transform: scaleX(1);
}

.navbarRight li a:hover {
    color: rgb(121, 195, 3);
    cursor: pointer;
}

.menuIcon {
    display: none;
    cursor: pointer;
    z-index: 12;
}

body.active-modal {
    overflow-y: hidden;
}

.hide {
    display: none;
}

@media screen and (max-width: 1040px) {
    .navbarRight {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.95);
        z-index: 11;
        transition: left 0.5s ease-in-out;
    }

    .navbarRight.active {
        left: -15%;
    }

    .navbarRight li {
        margin: 1rem;
    }

    .navbarRight li a {
        font-size: 1.2rem;
    }

    .menuIcon {
        display: block;
        font-size: 1.5rem;
        color: white;
    }

    .navbarLeft > h1 {
        font-size: 25px;
    }
}