.head {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.cc{
    display: flex;
    justify-content: space-evenly;
}
.form-container {
    width: 400px;
    height: 420px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgb(121, 195, 3);
}
.label-style {
    font-size: 20px;
}
.input-field{
    background-color: #f0edef;
}
.textarea-field{
    background-color: #f0edef;
    width: min-content;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    color: black;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none; 
}

.form-container textarea {
    height: 60px;
}

.anim-container {
    width: 500px;
    height: 500px;
  }
@media screen and (max-width:460px) {
    
    .anim-container {
        display: none;
    }

    .form-container {
        width: 90vw;
        margin: 0px auto;
        font-size: small;
    }
}