* {
    margin: 0;
    padding: 0;
}
.contact{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #212122;
}
.contact__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 20px;
}
.contact__container>p{
    font-size: 20px;
    padding-bottom: 30px;
    text-align: left;
}
.contact__container>p>span>a{
    color: #2e7dd1;
}
.contact__icons>a>button>span>.MuiSvgIcon-root{
    color: white;
    font-size: 30px;
}
.contact__icons>a>button{
    color: white;
}

@media screen and (max-width: 1040px) {

    .Both {
        flex-direction: column;
    }
    
}