*{
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 0, 0);
}
.submit-button {
  font-size: 16px;
  margin: 0 30%;
  width: 40%;
  padding: 10px 20px;
  background-color: #4084f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #337ef7;
}

