*{
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}
body {
  background-color: rgb(0, 0, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.submit-button {
  font-size: 16px;
}


